data
bin
include
lib
lib64
/src
dist/
dist
.DS_Store
frontend/.env
frontend/.env-backup
pyvenv.cfg
*.pyc
output/*
less/npm-debug.log
localsettings.py
.Python
bin/
include/
lib/
node_modules*
*.wpr
*.wpu
.cache
*.egg-info
.pytest_cache
yarn.lock
__pycache__
env
dist

.vscode

pip-selfcheck\.json
frontend/deploy.sh
example.csv
.gitignore
frontend_deploy.sh
deploy.sh
impfdaten
screenshots/yarn-error.log
